<%- include("../partials/header") -%>
<body class="html not-front not-logged-in no-sidebars page-faqs page-our-program-faqs i18n-en panel-layout-bootstrap panel-region-closing_cta___still_have_questions_ panel-region-customer_support panel-region-everything_you_need_to_know_about_debt_settlement panel-region-everything_you_need_to_know_about_debt_settlement_ panel-region-hero panel-region-left panel-region-right" >
  <div id="skip-link">
    <a href="#main" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRWQRPM" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager">Google Tag Manager</iframe></noscript>  <header id="header" class="navbar navbar-default">
  <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
                  <a href="/" class="navbar-brand" rel="home" title="Home">
                          <img src="sites/all/themes/cdl/logo.svg" alt="Logo Credit Direct"
              id="logo" width="217" height="40" />
                      </a>
              </div> <!-- /.navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar-form navbar-right">
          <div class="form-group">
                        <a href="personal-loans/apply.html" class="btn btn-primary navbar-btn">Apply Now</a>
            <div class="no-credit-impact">Will not affect your credit score</div>
          </div>
        </div>

        <ul class="nav navbar-nav">
          <li class="first leaf menu-link-personal-loans"><a href="/personal_loans">Personal Loans</a></li>
          <li class="leaf menu-link-how-it-works"><a href="/how_it_works">How It Works</a></li>
<li class="leaf menu-link-faqs"><a href="/faqs">FAQs</a></li>
<li class="leaf menu-link-benefits"><a href="/benefits">Benefits</a></li>
          </ul>
        


        <div class="block block-locale block--none">

      
  <div class="block__content">
    <ul class="nav navbar-nav navbar-right language-switcher-locale-url"><li class="en first active"><a href="faqs.html" class="language-link active" xml:lang="en" hreflang="en">English/Español</a></li>
<li class="es last"><a href="es-mx/faqs.html" class="language-link" xml:lang="es" hreflang="es">English/Español</a></li>
</ul>  </div>
</div>

      </div><!-- /.navbar-collapse -->

  </div> <!-- /.container -->
</header>

<div id="main-wrapper">
  <div id="main" class="main">
    <div class="container">
      <div id="messages">
              </div>
      <div id="page-header">
        <!--           <div class="page-header">
            <h1 class="title">FAQs</h1>
          </div>
         -->
                      </div>
    </div>
    <div id="content" class="container">
        <div class="region region-content">
    <div class="panel-bootstrap panels-bootstrap-416"id="page-faqs">
<div  id="panel-bootstrap-row-5"  class="row row-nospace panels-bootstrap-row-416-5">
<div  id="panel-bootstrap-column-6"  class="column panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-416-6 column-inside-first column-inside-last inside">
<div  id="panel-bootstrap-region-customer_support"  class="panels-bootstrap-region panels-bootstrap-region-416-customer_support region-inside-first region-inside-last inside">
  </div>
  </div>
  </div>
<div  id="hero"  class="row row-nospace panels-bootstrap-row-416-main">
<div  id="panel-bootstrap-column-main-column"  class="vertical-center panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-416-main-column">
<div  id="panel-bootstrap-region-hero"  class="panels-bootstrap-region panels-bootstrap-region-416-hero region-inside-first region-inside-last inside">

<div  class="white-text text-center-xs bg-image bg-custom-css-hero">
              <picture>
        <source srcset="https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg, https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg 2x" media="(min-width: 1281px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg, https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg 2x" media="(min-width: 992px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg, https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg 2x" media="(min-width: 768px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg, https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg 2x" media="(min-width: 476px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg, https://www.creditdirect.com/sites/default/files/creditdirect-faq-hero.jpg 2x">
        <img src="sites/default/files/creditdirect-faq-hero.jpg" alt=""/>
        <div class="overlay-mobile" style="background-color: #000000"></div>      </picture>
        <div class="bg-content">
    <div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/faqs-title-frequently-asked-questions" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h1>Frequently Asked Questions</h1>
<h3>Applying for the personal loan you need is simple through Credit Direct. Get answers to your questions about personal loans, our lending process, and what you will need to apply.</h3>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
</div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-7"  class="row panels-bootstrap-row panels-bootstrap-row-416-7 clearfix inside">
<div  id="panel-bootstrap-column-13"  class="column panels-bootstrap-column col-lg-7 col-md-10 panels-bootstrap-column-416-13 column-inside-first inside">
<div  id="panel-bootstrap-region-everything_you_need_to_know_about_debt_settlement_"  class="panels-bootstrap-region panels-bootstrap-region-416-everything_you_need_to_know_about_debt_settlement_ region-inside-first region-inside-last inside">
  </div>
  </div>
<div  id="panel-bootstrap-column-8"  class="column panels-bootstrap-column col-sm-10 panels-bootstrap-column-416-8 inside">
<div  id="panel-bootstrap-region-everything_you_need_to_know_about_debt_settlement"  class="panels-bootstrap-region panels-bootstrap-region-416-everything_you_need_to_know_about_debt_settlement region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/faq-general" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2>General</h2>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-views pane-faq"  >
  
      
  
  <div class="pane-content">
    <div class="view view-faq view-id-faq view-display-id-block_1 view-dom-id-5fa228b6d128d85276bac5eceb7d0cf1">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How do I pay the loan back?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_10" aria-expanded="false"
  aria-controls="faq-block_10">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_10">
    <p>With Credit Direct, you have one monthly payment with a fixed interest rate on a set day every month for a specific length of time. There’s no confusion about when it’s due, how much your monthly payment is or how long the loan is for.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How long do I have to pay back the loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_11" aria-expanded="false"
  aria-controls="faq-block_11">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_11">
    <p>It depends. The terms of the loan have a lot of factors, including your credit score and financial situation, the amount of the loan, interest and how much you can reasonably afford each month to pay down. However, whether it’s $5,000 or the full $40,000, we work hard to get you the best loan terms possible.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Can I borrow the full $40,000?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_12" aria-expanded="false"
  aria-controls="faq-block_12">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_12">
    <p>It depends. Your approved loan amount depends on several factors, including your credit score and current financial situation. However, we work hard to get you the best loan possible.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do I need a cosigner to take out a loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_13" aria-expanded="false"
  aria-controls="faq-block_13">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_13">
    <p>No. Whether you take out a joint loan or only one of you takes out the loan is your choice. However, if you do choose a joint loan, you will both need to sign.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How much will a personal loan cost me?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_14" aria-expanded="false"
  aria-controls="faq-block_14">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_14">
    <p>Other than the interest paid on the loan, we don’t charge any hidden fees. You just have one monthly payment for the length of your loan.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Will taking out a personal loan show negatively on my credit?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_15" aria-expanded="false"
  aria-controls="faq-block_15">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_15">
    <p>Although a personal loan may cause a slight hit to your credit initially, it generally causes a positive increase to your score over time. As long as you keep your monthly payments, your credit score will actually improve.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-7 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Will I need to have collateral to take out a personal loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_16" aria-expanded="false"
  aria-controls="faq-block_16">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_16">
    <p>No, as we offer unsecured personal loans. One of the great things about getting a personal loan from Credit Direct is that you don’t have to put your house or car on the line.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-8 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What will my interest rate be?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_17" aria-expanded="false"
  aria-controls="faq-block_17">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_17">
    <p>For the most part, interest rates on personal loans depend on your credit score, the amount, and the perceived risk to the lender. The higher the credit score, the lower the interest rate.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-9 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Are there fees for early payoff or for making a larger monthly payment?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_18" aria-expanded="false"
  aria-controls="faq-block_18">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_18">
    <p>No, there are no fees or charges for paying your loan off early. You can also choose to make a larger monthly payment than owed without penalty.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-10 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do I need good credit to get approved for a loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_19" aria-expanded="false"
  aria-controls="faq-block_19">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_19">
    <p>It depends. We’ve helped people with a wide range of credit scores get a personal loan. We look at other factors of your financial profile including ability to pay back the loan which improves your chance of approval. Take 5 minutes, fill out our online application and see what Credit Direct can do for you! Checking your eligibility will not impact your credit score.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-11 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How much can I borrow?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_110" aria-expanded="false"
  aria-controls="faq-block_110">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_110">
    <p>We offer personal loans up to $40,000.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-12 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What states do you provide loans to?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_111" aria-expanded="false"
  aria-controls="faq-block_111">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_111">
    <p>To see a complete list of states we are able to provide loans to, please <a href="company.html">click here to visit</a> our Company page.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-13 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What are your business hours?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_112" aria-expanded="false"
  aria-controls="faq-block_112">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_112">
    <p>Our business hours are 9:00am to 6:00pm ET Monday through Thursday, and 9:00am to 5:00pm ET Friday. Our call center is 24/7.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-14 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What are your interest rates?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_113" aria-expanded="false"
  aria-controls="faq-block_113">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_113">
    <p>Rates start as low as 5.99% APR and can vary based on your credit profile.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-15 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do you lend directly or through a network?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_114" aria-expanded="false"
  aria-controls="faq-block_114">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_114">
    <p>We lend both directly and through our trusted partner network to ensure that you get the best offer available.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-16 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do you sell my information to other companies?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_115" aria-expanded="false"
  aria-controls="faq-block_115">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_115">
    <p>We take your online security and privacy seriously. No, we do not sell any personal information to 3rd parties. You can learn more by reading our <a href="privacy-policy.html">Privacy Policy</a>.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-17 views-row-odd views-row-last">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do you offer payday loans or emergency loans?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_116" aria-expanded="false"
  aria-controls="faq-block_116">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_116">
    <p>No, we offer unsecured personal loans with fixed interest rates and clear terms.</p>  </div>
</div>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/faq-application-process" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2>Application Process</h2>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-views pane-faq"  >
  
      
  
  <div class="pane-content">
    <div class="view view-faq view-id-faq view-display-id-block_2 view-dom-id-48235ef8b481baf14f016e291ff6edb7">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How do I apply for a loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_20" aria-expanded="false"
  aria-controls="faq-block_20">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_20">
    <p>Applying with us is easy and secure! Visit our <a href="personal-loans/apply.html">application page</a> to fill out our short online form with no effect to credit score. In minutes, we'll send you personalized offers to compare.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Will submitting an application hurt my credit score?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_21" aria-expanded="false"
  aria-controls="faq-block_21">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_21">
    <p>By submitting an application to see what offers you qualify for, your credit score is not affected. To pre-qualify you, we perform a soft inquiry on your credit report, which won't impact your score. Once you accept your offer and proceed to funded, we perform a hard inquiry on your credit report, which may affect your credit score. If you do see a slight drop in credit score, you should see it increase over time with each monthly on-time payment.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How long will it take to get my loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_22" aria-expanded="false"
  aria-controls="faq-block_22">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_22">
    <p>In most cases, you'll receive your funds in just 48 to 72 hours via direct deposit to your bank account after your application is approved and completed. Depending on response time and how fast your financial institution is to accept the funds, we have had some clients receive their loan in just 24 hours.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What is the minimum credit score required to apply for a loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_23" aria-expanded="false"
  aria-controls="faq-block_23">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_23">
    <p>There is no minimum credit score requirement to apply. In fact, we look at more than just credit scores when qualifying individuals for a loan to include other factors that indicate your ability to pay back the loan giving you a better chance at approval.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do you require a social security number to apply for a loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_24" aria-expanded="false"
  aria-controls="faq-block_24">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_24">
    <p>Currently, you will need to have a social security number to apply. We are not able to accept a tax ID at this time.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What happens if I was not approved for a loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_25" aria-expanded="false"
  aria-controls="faq-block_25">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_25">
    <p>We will provide some alternative lenders to contact in our last email reply.  Please check your spam folder if you didn't receive it. While we were not able to help with your situation, those other lenders may be able to assist you.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-7 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What documentation do I need to apply?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_26" aria-expanded="false"
  aria-controls="faq-block_26">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_26">
    <p>Once you have accepted a pre-qualified loan offer, you will at a minimum need the following documentation to complete your application and accept the loan:</p>
<ul><li>2 months of any/all bank statements</li>
<li>1 months worth of ALL pay stubs</li>
<li>Most recent W2</li>
<li>Copy of Government Issued ID (typically driver's license or passport)</li>
</ul>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-8 views-row-even views-row-last">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How secure is your application?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_27" aria-expanded="false"
  aria-controls="faq-block_27">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_27">
    <p>We take your online security and privacy seriously. Our website security certificates are all actively maintained and up-to-date to ensure your information is encrypted. You can learn more by reviewing our <a href="privacy-policy.html">Privacy Policy</a>.</p>  </div>
</div>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/faq-debt-consolidation-refinancing" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2>Debt Consolidation &amp; Refinancing</h2>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-views pane-faq"  >
  
      
  
  <div class="pane-content">
    <div class="view view-faq view-id-faq view-display-id-block_3 view-dom-id-6809732d3dc519dd758a4d7b485740b6">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What types of debt can I consolidate?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_30" aria-expanded="false"
  aria-controls="faq-block_30">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_30">
    <p>Any unsecured debt can be consolidated, including medical bills, payday loans, student loans, and credit cards.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Will debt consolidation hurt my credit?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_31" aria-expanded="false"
  aria-controls="faq-block_31">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_31">
    <p>For most people, debt consolidation may cause an initial hit to your credit score. However, as long as you make consistent, on-time payment, it generally has a positive impact on your credit.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Will debt consolidation save me money?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_32" aria-expanded="false"
  aria-controls="faq-block_32">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_32">
    <p>Maybe. It depends on your financial situation and the debt you’re consolidating. For instance, if you don’t owe very much on your bills, debt consolidation may just end up costing you more in the long run. Before getting a personal loan to consolidate your debt, add up your existing debt (don’t forget to include interest!) and divide by the number of payments it would take to pay it off. If it’s less than the cost of the loan (again, including interest), you may be better off using your personal loan to take yourself on vacation to Tahiti.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Can I get a lower interest rate than I’m paying now?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_33" aria-expanded="false"
  aria-controls="faq-block_33">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_33">
    <p>Considering that most credit cards can run as high as 29.99% to 18%, or more, the answer is most likely a resounding yes! Interest rates depend on your current financial situation and the risk to the lender, but we’ll get you the best interest rate available.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How many credit cards can I refinance?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_34" aria-expanded="false"
  aria-controls="faq-block_34">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_34">
    <p>That’s up to you. Depending on your financial situation, you can get a personal loan up to $40,000 to take care of your credit cards. Whether you pay off one or more with your loan is up to you.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How long does it take to get a credit card refinancing loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_35" aria-expanded="false"
  aria-controls="faq-block_35">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_35">
    <p>When we say fast and simple, we mean it. Depending on response times and the speed of your banking institution, you could have financial freedom within 24 hours of filling out our simple, secure web form. It doesn’t get much faster than that!</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-7 views-row-odd views-row-last">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>If I am using the loan to consolidate and pay off my credit card balances, do I have to close those accounts?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_36" aria-expanded="false"
  aria-controls="faq-block_36">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_36">
    <p>If you are using a personal loan to pay off your current credit card balances, you can choose to leave your accounts open. There is no requirement to close your credit cards once the balance is paid off.</p>  </div>
</div>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/faq-other-uses" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2>Other Uses</h2>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-views pane-faq"  >
  
      
  
  <div class="pane-content">
    <div class="view view-faq view-id-faq view-display-id-block_4 view-dom-id-c68eea717d30ca93cc11f0831ce663c7">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Why should I use a personal loan for my home remodeling?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_40" aria-expanded="false"
  aria-controls="faq-block_40">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_40">
    <p>Flexibility. What if your bathroom remodel only takes half the money? With a personal loan, you can use the extra to celebrate the finished project with an expensive bottle of Chardonnay or a night out on the town. It doesn’t have to go to just home remodeling projects.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do I need to know what part of the home I’m remodeling?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_41" aria-expanded="false"
  aria-controls="faq-block_41">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_41">
    <p>Yes! But only because if you buy a bathtub and decide to remodel the kitchen, you’ll have a hard time figuring out what to do with the tub. What you do with your loan is your business. Our business is to simplify it for you.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>What’s the difference between a personal home remodeling loan and a home equity loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_42" aria-expanded="false"
  aria-controls="faq-block_42">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_42">
    <p>You need a lot of equity in your home for a home equity loan. If your home has a lot of repairs that lower the value, you may not qualify for enough money to get them taken care of. A personal loan is an unsecured loan, there’s no home appraisal to worry about.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Can I get a personal loan for medical emergencies?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_43" aria-expanded="false"
  aria-controls="faq-block_43">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_43">
    <p>Yes! That trip to the emergency room because you broke your arm is good to go. Personal loans are there to help in whatever emergency (or non-emergency) situation you have going on in your life.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>I’ve heard of wedding loans. Is a personal loan different?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_44" aria-expanded="false"
  aria-controls="faq-block_44">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_44">
    <p>No. Wedding loans or marriage loans don’t actually exist. It’s just a term for personal loans that went to finance a wedding.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Can’t I just use my credit card to pay for a vacation?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_45" aria-expanded="false"
  aria-controls="faq-block_45">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_45">
    <p>Well, you can, but unless you have a card with a very low interest rate, putting a vacation on a credit card can turn into a pretty expensive loan. While you might use the cards to actually pay for the vacation if you have rewards on them, you can use the personal loan to pay the balance before the next billing cycle (and high interest) hits.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-7 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Will I need to build a business proposal to use a personal loan for my business?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_46" aria-expanded="false"
  aria-controls="faq-block_46">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_46">
    <p>Not for us. Basically, you’re the investor in your business. If you want to tell yourself how you’re going to get things done, good on you. We’re just here to help you get started.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-8 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Do I own the car right away if using a personal loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_47" aria-expanded="false"
  aria-controls="faq-block_47">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_47">
    <p>Yes. Unlike an auto loan, a personal loan pays off the seller. Your payments go entirely to the personal loan while you drive around in a car that’s all yours.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-9 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Can I get a better deal on a car with a personal loan?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_48" aria-expanded="false"
  aria-controls="faq-block_48">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_48">
    <p>It depends on your credit, who you’re buying the car from, the type of car you want to get and the age of the car, among other factors. Contact us to discuss your options.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-10 views-row-even">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Can I get enough of a loan to cover the title and tags for a car purchase?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_49" aria-expanded="false"
  aria-controls="faq-block_49">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_49">
    <p>Yes! Personal loans are flexible, in that you can do whatever you want with them. You can borrow however much you need, up to $40,000, for whatever you want.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-11 views-row-odd">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>Is a personal loan better than a payday loan for medical expenses?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_410" aria-expanded="false"
  aria-controls="faq-block_410">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_410">
    <p>Absolutely. Payday loans are for very short periods of a few days or weeks, and the cost is extremely high because the lenders have a high risk of non-payment. Personal loans are extended time plans, have no fee for early payoffs, and have fixed interest rates.</p>  </div>
</div>  </div>  </div>
  <div class="views-row views-row-12 views-row-even views-row-last">
      
  <div class="views-field views-field-title">        <span class="field-content"><label>How much should I borrow for moving expenses without money worries?</label>  <button type="button" class="collapsed" data-toggle="collapse"
  data-target="#faq-block_411" aria-expanded="false"
  aria-controls="faq-block_411">
</button>
</span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">  <div class="collapse" id="faq-block_411">
    <p>That depends on your location and where you’re moving to, but make sure you do the math. Before getting a personal relocation loan, take the time to find out what your moving costs will be. They could include: hiring movers, truck rental, moving supplies, storage and lodging, among others.</p>  </div>
</div>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-column-9"  class="column panels-bootstrap-column col-sm-6 col-lg-6 col-md-6 panels-bootstrap-column-416-9 inside">
<div  id="panel-bootstrap-region-left"  class="panels-bootstrap-region panels-bootstrap-region-416-left region-inside-first region-inside-last inside">
  </div>
  </div>
<div  id="panel-bootstrap-column-10"  class="column panels-bootstrap-column col-md-6 col-lg-6 panels-bootstrap-column-416-10 column-inside-last inside">
<div  id="panel-bootstrap-region-right"  class="panels-bootstrap-region panels-bootstrap-region-416-right region-inside-first region-inside-last inside">
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-11"  class="row no-padding panels-bootstrap-row-416-11">
<div  id="panel-bootstrap-column-12"  class="column panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-416-12 column-inside-first column-inside-last inside">
<div  id="panel-bootstrap-region-closing_cta___still_have_questions_"  class="panels-bootstrap-region panels-bootstrap-region-416-closing_cta___still_have_questions_ region-inside-first region-inside-last inside">
<div class="panel-pane pane-node faq-contact-us"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/closing-cta-still-have-questions" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2>Is Your Question Not Answered Here?<br />
Contact Us Directly.</h2>
<p>Fill out our contact form below:</p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-block pane-cdl-application-cdl-application-contact-us faq-contact-us"  >
  
      
  
  <div class="pane-content">
    <form action="https://www.creditdirect.com/faqs" method="post" id="cdl-application-contact-us-form" accept-charset="UTF-8" role="form"><div><div class="form-item form-type-textfield form-item-givenName form-group">
  <label for="edit-givenname">First name <span class="form-required" title="This field is required.">*</span></label>
 <input class="form-control form-text required" type="text" id="edit-givenname" name="givenName" value="" size="20" maxlength="20" />
</div>
<div class="form-item form-type-textfield form-item-familyName form-group">
  <label for="edit-familyname">Last name <span class="form-required" title="This field is required.">*</span></label>
 <input class="form-control form-text required" type="text" id="edit-familyname" name="familyName" value="" size="20" maxlength="20" />
</div>
<div class="form-item form-type-textfield form-item-phoneNumber form-group">
  <label for="edit-phonenumber">Phone number <span class="form-required" title="This field is required.">*</span></label>
 <input class="form-control form-text required" type="text" id="edit-phonenumber" name="phoneNumber" value="" size="20" maxlength="20" />
</div>
<div class="form-item form-type-textfield form-item-email form-group">
  <label for="edit-email">Email address <span class="form-required" title="This field is required.">*</span></label>
 <input class="form-control form-text required" type="text" id="edit-email" name="email" value="" size="20" maxlength="50" />
</div>
<div class="form-item form-type-textarea form-item-message form-group">
  <label for="edit-message">Message <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper resizable"><textarea class="form-control form-textarea required" id="edit-message" name="message" cols="60" rows="5"></textarea></div>
</div>
<div class="captcha"><input type="hidden" name="captcha_sid" value="4619356" />
<input type="hidden" name="captcha_token" value="5e36a3f35d996e49dbea02c69dcab749" />
<div class="form-item form-type-textfield form-item-captcha-response form-group">
  <label for="edit-captcha-response">Math question <span class="form-required" title="This field is required.">*</span></label>
 <span class="field-prefix">1 + 0 = </span> <input class="form-control form-text required" type="text" id="edit-captcha-response" name="captcha_response" value="" size="4" maxlength="2" />
<span class="help-block">Solve this simple math problem and enter the result. E.g. for 1+3, enter 4.</span>
</div>
</div><input class="btn-primary form-submit btn btn-default btn-primary" type="submit" id="edit-submit" name="op" value="Submit" /><input type="hidden" name="form_build_id" value="form-iYs2KXvDhfOv9iq6qON_iNrpSehr1zT1r17AQvWeRC8" />
<input type="hidden" name="form_id" value="cdl_application_contact_us_form" />
</div></form>  </div>

  
  </div>
<div class="panel-pane pane-node faq-contact-us padding-contact"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/contact-us-section-2-have-any-questions" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Call or Email Us </p>
<p><strong>Phone:</strong></p>
<p><a class="btn btn-outline" href="tel:+18664144198">866-414-4198</a></p>
<p><strong>Email:</strong></p>
<p><a class="btn btn-primary" href="mailto:info@creditdirectloans.com">info@creditdirect.com</a></p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
  </div>
</div>
  </div>
    </div>
  </div> <!-- /#main -->
</div> <!-- /#main-wrapper -->

<%- include("../partials/footer") -%>