<%- include("../partials/header") -%>
<body class="html front not-logged-in no-sidebars page-home i18n-en panel-layout-bootstrap panel-region-4_8___5_rating_under__consumer_affairs panel-region-apply_now panel-region-a__rating panel-region-bbb_verified_review_1 panel-region-call_us_today_and_experience_relief_ panel-region-get_the_loan_you_deserve panel-region-get_the_loan_you_deserve_ panel-region-hero panel-region-how_it_works panel-region-how_much_ panel-region-lead_form panel-region-money_in_the_bank_ panel-region-review_your_proposal panel-region-sign___approve panel-region-two_images_layout panel-region-we_keep_you_informed_every_step_of_the_way" >

  <div id="skip-link">
    <a href="#main" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRWQRPM" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager">Google Tag Manager</iframe></noscript>  <header id="header" class="navbar navbar-default">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
                  <a href="/" class="navbar-brand" rel="home" title="Home">
                  <img src="sites/all/themes/cdl/logo.svg" alt="Logo Credit Direct"
              id="logo" width="217" height="40" />
                      </a>
              </div> <!-- /.navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar-form navbar-right">
          <div class="form-group">
                        <a href="personal-loans/apply.html" class="btn btn-primary navbar-btn">Apply Now</a>
          </div>
        </div>
<ul class="nav navbar-nav">
    <li class="first leaf menu-link-personal-loans"><a href="/personal_loans">Personal Loans</a></li>
    <li class="leaf menu-link-how-it-works"><a href="/how_it_works">How It Works</a></li>
    <li class="leaf menu-link-faqs"><a href="/faqs">FAQs</a></li>
    <li class="leaf menu-link-benefits"><a href="/benefits">Benefits</a></li>
</ul>
    
<div class="block block-locale block--none">  
  <div class="block__content">
    <ul class="nav navbar-nav navbar-right language-switcher-locale-url"><li class="en first active"><a href="/" class="language-link active" xml:lang="en" hreflang="en">English/Español</a></li>
<li class="es last"><a href="es-mx.html" class="language-link" xml:lang="es" hreflang="es">English/Español</a></li>
</ul>  </div>
</div>

      </div><!-- /.navbar-collapse -->

  </div> <!-- /.container -->
</header>

<div id="main-wrapper">
  <div id="main" class="main">
    <div class="container">
      <div id="messages">
              </div>
      <div id="page-header">
        <!--  -->
                      </div>
    </div>
    <div id="content" class="container">
        <div class="region region-content">
    <div class="panel-bootstrap panels-bootstrap-406"id="page-home">
<div  id="lead-form-panel"  class="row panels-bootstrap-row panels-bootstrap-row-406-21 row-inside-first clearfix inside">
<div  id="panel-bootstrap-column-22"  class="column panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-406-22 column-inside-first column-inside-last inside">
<div  id="panel-bootstrap-region-lead_form"  class="panels-bootstrap-region panels-bootstrap-region-406-lead_form region-inside-first region-inside-last inside">
<div class="panel-pane pane-block pane-cdl-application-cdl-application-lead">
  Quick And Simple
  Fill out the short form and we will find you the best personal loan options in minutes!</p>
  <form action="/apply" method="POST" style="margin-top:5%" id="my-form">
    <div class="warpper" >
        <div id="warning" style="display: none;" class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>!Please fill information correctly</strong>
        </div>        
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <input class="radio" id="three" name="group" type="radio">
        <input class="radio" id="four" name="group" type="radio">
        <input class="radio" id="five" name="group" type="radio">
        <div class="tabs">
        <label class="tab" id="one-tab" for="one">1</label>
        <label class="tab" id="two-tab" for="two">2</label>
        <label class="tab" id="three-tab" for="three">3</label>
        <label class="tab" id="four-tab" for="four">4</label>
        <label class="tab" id="five-tab" for="five">5</label>
      </div>
        <div class="panels">
          <div class="panel" id="one-panel">
              <div class="panel-title">First Step: fill in information correctly</div><br>
              <input type="hidden" name="status" value="pending">
              <div class="form-group">
                <label for="loan_amount">Loan Amount <span class="redClass">*</span></label>
                <input type="text" name="loan_amount" class="form-control" id="" value="$<%= data.loan_amount %>" required>
              </div>
              <div class="form-group">
                <label for="purpose">Loan Purpose <span class="redClass">*</span></label>
                <select name="purpose" class="form-control" id="" required>
                  <option value="" selected="selected">- Select -</option><option value="Credit Card Refinancing">Credit Card Refinancing</option><option value="Debt Consolidation'">Debt Consolidation</option><option value="Home Improvement">Home Improvement</option><option value="Major Purchase">Major Purchase</option><option value="Wedding">Wedding</option><option value="Vacation">Vacation</option><option value="Business Expenses">Business Expenses</option><option value="Auto Purchase">Auto Purchase</option><option value="Medical Expenses">Medical Expenses</option><option value="Moving Expenses">Moving Expenses</option><option value="Other">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">Estimated Credit Score<span class="redClass">*</span></label>
                <select name="estimated_credit_score" id="" class="form-control">
                  <option value="" selected="selected">- Select -</option><option value="Excellent">Excellent (720+)</option><option value="Good">Good (660-720)</option><option value="Fair">Fair (600-660)</option><option value="Poor">Poor (&lt;600)</option><option value="Not Sure">Not Sure</option>
                </select>
              </div>
              <input class="but" type="button" id="nextToTwo" value="Next" style="float: right;">              
          </div>
          <div class="panel" id="two-panel">
              <div class="panel-title">Step 2</div>
                <div class="form-group">
                  <label for="">First name<span class="redClass">*</span></label>
                  <input type="text" class="form-control" name="name" id="" required>
                </div>
                <div class="form-group">
                  <label for="">Last name<span class="redClass">*</span></label>
                  <input type="text" class="form-control" name="last_name" id="" required>
                </div>
                <div class="form-group">
                  <label for="">Phone Number<span class="redClass">*</span></label>
                  <input id="edit-phone" type="text" class="form-control" name="phone" value="" size="20" maxlength="14" required>
                </div>
                <div class="form-group">
                  <label for="">Email<span class="redClass">*</span></label>
                  <input type="text" type="email" class="form-control" name="email" id="" required>
                </div>
                <div class="form-group">
                  <label for="">Date of birth<span class="redClass">*</span></label>
                  <input type="date" class="form-control" name="date_of_birth" id="" required>
                </div>
                <input class="but" type="button" id="backToOne" value="Back">
                <input class="but" type="button" id="nextToThree" value="Next" style="clear: right;float:right">
            </div>
          <div class="panel" id="three-panel">
              <div class="panel-title">Step 3</div>
              <div class="form-group">
                <label for="">Street address<span class="redClass">*</span></label>
                <input type="text" class="form-control" name="street_address" id="" required placeholder="Enter a location">
              </div>
              <div class="form-group">
                <label for="">Unit/apartment number</label>
                <input type="text" class="form-control" name="unit_number" id="">
              </div>
              <div class="form-group">`
                <label for="">Zip code<span class="redClass">*</span></label>
                <input type="text" name="zip_code" class="form-control" name="zip-code" id="" required>
              </div>
              <div class="form-group">
                <label for="">Country<span class="redClass">*</span></label>
                <select class="form-control" name="country" id="">
                  <option value="">-Select-</option>
                  <option value="nothing">Nothing</option>
                </select>
              </div>
              
                <input class="but" type="button" id="backToTwo" value="Back">
                <input class="but" type="button" id="nextToFour" value="Next" style="clear:right;float:right">
          </div>
          <div class="panel" id="four-panel">
              <div class="panel-title">Step 4</div>
                <label for="">Housing status<span class="redClass">*</span></label>
                <div class="form-group">
                  <select  class="form-control" name="housing_status" id="" required>
                    <option value="">-Select-</option>
                    <option>I don't know</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Housing Payment<span class="redClass">*</span></label>
                  <input type="text" name="housing_payment" class="form-control" id="" required>
                </div>
                <div class="form-group">
                  <label for="">Employment Status<span class="redClass">*</span></label>
                  <select name="emplyment_status" id="" class="form-control">
                    <option value="">-Select-</option>
                    <option value="nothing">Nothing</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="loan-amount">Yearly Income<span class="redClass">*</span></label>
                  <input type="text" name="yearly_income" class="form-control" id="" required>
                </div>

                <input class="but" type="button" id="backToThree" value="Back">
                <input class="but" type="button" id="nextToFive" value="Next" style="clear:right;float:right">
          </div>
          <div class="panel" id="five-panel">
              <div class="panel-title">Final Step</div>
              <p class="text-info">
                Please ensure to fill all information correctly
              </p>
              <p><span class="redClass">***</span>By submitting your application, you acknowledge that you have read and agree to the Terms of Service, Privacy Policy, E-sign Act Consent, and Credit Profile Authorisation</p>
              <input class="but" type="button" id="backToFour" value="Back">
              <br><br>
              
          </div>
          </div>
          <input style="display: none;" class="btn btn-danger" style="padding:34px" id="sbt-button" type="submit" value="Submit">
      </div>    
        
</form>


<script>

    var danger = document.getElementById("warning");

    var radio1 = document.getElementById("one");
    var radio2 = document.getElementById("two");
    var radio3 = document.getElementById("three");
    var radio4 = document.getElementById("four");
    var radio5 = document.getElementById("five");
    
    var nextToTwo = document.getElementById("nextToTwo");
    var nextToThree = document.getElementById("nextToThree");
    var nextToFour = document.getElementById("nextToFour");
    var nextToFive = document.getElementById("nextToFive");
    var submitButton = document.getElementById("sbt-button");

    var backToOne = document.getElementById("backToOne");
    var backToTwo = document.getElementById("backToTwo");
    var backToThree = document.getElementById("backToThree");
    var backToFour = document.getElementById("backToFour");

    nextToTwo.addEventListener("click", ()=>{
      document.getElementById("two").checked = "true";
      submitButton.style.display = "none"
    })


    nextToThree.addEventListener("click", ()=>{
      document.getElementById("three").checked = "true";
      submitButton.style.display = "none"
    })

    nextToFour.addEventListener("click", ()=>{
      document.getElementById("four").checked = "true"
      submitButton.style.display = "none"
    })

    nextToFive.addEventListener("click", ()=>{
      document.getElementById("five").checked = "true";
      submitButton.style.display = "block"
    })


    //FOR GOING BACK
    backToOne.addEventListener("click", ()=>{
      document.getElementById("one").checked = "true";
      submitButton.style.display = "none"
    })

    backToTwo.addEventListener("click", ()=>{
      document.getElementById("two").checked = "true";
      submitButton.style.display = "none"
    })

    backToThree.addEventListener("click", ()=>{
      document.getElementById("three").checked = "true";
      submitButton.style.display = "none"
    })

    backToFour.addEventListener("click", ()=>{
      document.getElementById("four").checked = "true";
      submitButton.style.display = "none"
    })

    radio1.addEventListener("change", ()=>{
      submitButton.style.display = "none"
    })

    radio2.addEventListener("change", ()=>{
      submitButton.style.display = "none"
    })

    radio3.addEventListener("change", ()=>{
      submitButton.style.display = "none"
    })

    radio4.addEventListener("change", ()=>{
      submitButton.style.display = "none"
    })

    radio5.addEventListener("change", ()=>{
      submitButton.style.display = "block"
    })



    function removeChildren (params){
    var parentId = params.parentId;
    var childName = params.childName;

    var childNodesToRemove = document.getElementById(parentId).getElementsByClassName('foo');
    for(var i=childNodesToRemove.length-1;i >= 0;i--){
        var childNode = childNodesToRemove[i];
        childNode.parentNode.removeChild(childNode);
    }
}      
    
    submitButton.addEventListener("click",()=>{
      //removeChildren({parentId:'warning',childName:'p'});
      //danger.style.display = "none";
      //danger.innerText = "";
      var elem = document.getElementById('my-form').elements;
        for(var i = 0; i < elem.length; i++){
            if(elem[i].type !== "hidden" && elem[i].type !== "radio" && elem[i].type !== "button" && elem[i].type !== "submit" && elem[i].name !== "unit_number" ){
              if(elem[i].value === ""){
                alert(elem[i].name+ " doesn't have a value");
                danger.style.display = "block"; 
              }else{
              }
            }
        }        
    })

</script>
<%- include("../partials/footer") -%>