<%- include ("../partials/header") -%>
<body class="html front not-logged-in no-sidebars page-home i18n-en panel-layout-bootstrap panel-region-4_8___5_rating_under__consumer_affairs panel-region-apply_now panel-region-a__rating panel-region-bbb_verified_review_1 panel-region-call_us_today_and_experience_relief_ panel-region-get_the_loan_you_deserve panel-region-get_the_loan_you_deserve_ panel-region-hero panel-region-how_it_works panel-region-how_much_ panel-region-lead_form panel-region-money_in_the_bank_ panel-region-review_your_proposal panel-region-sign___approve panel-region-two_images_layout panel-region-we_keep_you_informed_every_step_of_the_way" >
  <div id="skip-link">
    <a href="#main" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRWQRPM" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager">Google Tag Manager</iframe></noscript>  <header id="header" class="navbar navbar-default">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
                  <a href="/" class="navbar-brand" rel="home" title="Home">
                  <img src="sites/all/themes/cdl/logo.svg" alt="Logo Credit Direct"
              id="logo" width="217" height="40" />
                      </a>
              </div> <!-- /.navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar-form navbar-right">
          <div class="form-group">
                        <a href="personal-loans/apply.html" class="btn btn-primary navbar-btn">Apply Now</a>
          </div>
        </div>
<ul class="nav navbar-nav">
    <li class="first leaf menu-link-personal-loans"><a href="/personal_loans">Personal Loans</a></li>
    <li class="leaf menu-link-how-it-works"><a href="/how_it_works">How It Works</a></li>
    <li class="leaf menu-link-faqs"><a href="/faqs">FAQs</a></li>
    <li class="leaf menu-link-benefits"><a href="/benefits">Benefits</a></li>
</ul>
        


<div class="block block-locale block--none">  
  <div class="block__content">
    <ul class="nav navbar-nav navbar-right language-switcher-locale-url"><li class="en first active"><a href="/" class="language-link active" xml:lang="en" hreflang="en">English/Español</a></li>
<li class="es last"><a href="es-mx.html" class="language-link" xml:lang="es" hreflang="es">English/Español</a></li>
</ul>  </div>
</div>

      </div><!-- /.navbar-collapse -->

  </div> <!-- /.container -->
</header>

<div id="main-wrapper">
  <div id="main" class="main">
    <div class="container">
      <div id="messages">
              </div>
      <div id="page-header">
        <!--  -->
                      </div>
    </div>
    <div id="content" class="container">
        <div class="region region-content">
    <div class="panel-bootstrap panels-bootstrap-406"id="page-home">
<div  id="lead-form-panel"  class="row panels-bootstrap-row panels-bootstrap-row-406-21 row-inside-first clearfix inside">
<div  id="panel-bootstrap-column-22"  class="column panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-406-22 column-inside-first column-inside-last inside">
<div  id="panel-bootstrap-region-lead_form"  class="panels-bootstrap-region panels-bootstrap-region-406-lead_form region-inside-first region-inside-last inside">
<div class="panel-pane pane-block pane-cdl-application-cdl-application-lead"  >
  
      
  
  <div class="pane-content">
    <form  method="get" action="/form-page"  role="form"><div><h3>What type of loan do you need?</h3><div class="form-item form-type-textfield form-item-loan-amount form-group">
  <label for="edit-loan-amount">Loan Amount <span class="form-required" title="This field is required.">*</span></label>
 <input class="slider-loan-amount form-control form-text required" data-slider-ticks="[5000, 1000000]" data-slider-ticks-labels="[&quot;$5,000&quot;, &quot;$40,000&quot;]" data-slider-ticks-positions="[0, 100]" data-slider-min="5000" data-slider-max="40000" data-slider-step="500" data-slider-value="5000" data-slider-tooltip="always" type="text" id="edit-loan-amount" name="loan_amount" value="" />
</div>
<div class="form-item form-type-select form-item-purpose form-group">
  <label for="edit-purpose">Loan purpose <span class="form-required" title="This field is required.">*</span></label>
 <select class="form-control form-select required" id="edit-purpose" name="purpose"><option value="" selected="selected">- Select -</option><option value="Credit Card Refinancing">Credit Card Refinancing</option><option value="Debt Consolidation&#039;">Debt Consolidation</option><option value="Home Improvement">Home Improvement</option><option value="Major Purchase">Major Purchase</option><option value="Wedding">Wedding</option><option value="Vacation">Vacation</option><option value="Business Expenses">Business Expenses</option><option value="Auto Purchase">Auto Purchase</option><option value="Medical Expenses">Medical Expenses</option><option value="Moving Expenses">Moving Expenses</option><option value="Other">Other</option></select>
</div>
<div class="captcha"><input type="hidden" name="captcha_sid" value="4619336" />
<input type="hidden" name="captcha_token" value="f507ec4ec94c37384151158574933c00" />
<input type="hidden" name="captcha_response" value="Google no captcha"/>
<div class="g-recaptcha" data-sitekey="6LdnpocUAAAAAFvYqvCAcPRXlxr5jUFKzGsP9ZAd" data-theme="light" data-type="image"></div></div>
<input type="submit" value="Apply Now">
<input type="hidden" name="form_build_id" value="form-nQdiwDQYpws8BU28Cz4VZyhppQ9JmKu7ClBicAiR9RU" />
<input type="hidden" name="form_id" value="cdl_application_lead_form" />
</div></form>  
</div>

  
  </div>
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/will-not-affect-your-credit-score" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div class="no-credit-impact">Will not affect your credit score</div>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-node"  >
<div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-hero-responding-mail-offer" typeof="sioc:Item foaf:Document">
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
<script>
window.onload = function(e){ 
	 var url = document.getElementById("_form-application-code-button").href;
	  var utm_source = getUrlVars()["utm_source"];
	  if (typeof utm_source === 'undefined') {
	    utm_source = read_cookie('utm_source');
	    if (utm_source !== 'null') {
	    	url = url.replace("utm_source=", "utm_source=" + utm_source);
	    }
	  }
	  var utm_campaign = getUrlVars()["utm_campaign"];
	  if (typeof utm_campaign === 'undefined') {
	    utm_campaign = read_cookie('utm_campaign');
	    if (utm_campaign !== 'null') {
	    	url = url.replace("utm_campaign=", "utm_campaign=" + utm_campaign);
	    }
	  }

	  var utm_content = getUrlVars()["utm_content"];
	  if (typeof utm_content === 'undefined') {
		  utm_content = read_cookie('utm_content');
		  if (utm_content !== 'null') {
			  url = url.replace("utm_content=", "utm_content=" + utm_content);
		  }
	  }

	  var utm_term = getUrlVars()["utm_term"];
	  if (typeof utm_term === 'undefined') {
		  utm_term = read_cookie('utm_term');
		  if (utm_term !== 'null') {
			  url = url.replace("utm_term=", "utm_term=" + utm_term);
		  }
	  }

	  var utm_medium = getUrlVars()["utm_medium"];
	  if (typeof utm_medium === 'undefined') {
		  utm_medium = read_cookie('utm_medium');
		  if (utm_medium !== 'null') {
			  url = url.replace("utm_medium=", "utm_medium=" + utm_medium);
		  }
	  }

	  var campaignId = getUrlVars()["campaignId"];
	  if (typeof campaignId === 'undefined') {
		  campaignId = read_cookie('campaignId');
		  if (campaignId !== 'null') {
			  url = url.replace("campaignId=", "campaignId=" + campaignId);
		  }
	  }
	  if (typeof ga !== "undefined") { 
		  ga(function(tracker) {
			  var clientId = tracker.get('clientId');
			  console.log("clientid2: " + clientId);
			  url += "&google_client_id=" + clientId;
			});
		}
	  console.log("api post url: " + url)
	  document.getElementById("_form-application-code-button").href = url;
	}

	function getUrlVars() {
	  var vars = {};
	  var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
	    vars[key] = value;
	  });
	 return vars;
	}
	function read_cookie(key)
	{
	    var result;
	    return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? (result[1]) : null;
	}

//--><!]]>
</script></div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  <div class="container">
    <%- include("../partials/tabs") -%>
  </div>
<div class="panel-pane pane-block pane-cdl-application-cdl-application-code collapse"  id="form-application-code-wrapper" >
  </div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-main"  class="row row-nospace home-header-bg panels-bootstrap-row-406-main">
<div  id="panel-bootstrap-column-main-column"  class="panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-406-main-column">
<div  id="panel-bootstrap-region-hero"  class="panels-bootstrap-region panels-bootstrap-region-406-hero region-inside-first region-inside-last inside">

<div  class="bg-image bg-custom-css-hero">
              <picture>
        <source srcset="https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-lg.jpg, https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-lg%402x.jpg 2x" media="(min-width: 1281px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-md_0.jpg, https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-md%402x_0.jpg 2x" media="(min-width: 992px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-sm_0.jpg, https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-sm%402x_1.jpg 2x" media="(min-width: 768px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-xs.jpg, https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-xs%402x.jpg 2x" media="(min-width: 476px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-mobile_0.jpg, https://www.creditdirect.com/sites/default/files/beard-bokeh-candle-mobile%402x_0.jpg 2x">
        <img src="sites/default/files/beard-bokeh-candle-lg.jpg" alt="Personal loans online up to $40K"/>
              </picture>
        <div class="bg-content">
    <div class="panel-pane pane-node pull-right"  id="speak-to-rep-hero" >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/speak-representative-today" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div style="margin-top:50px;">
<p class="rtecenter"><span style="color:#ffffff;">Speak With A Representative Today:</span></p>
<p class="rtecenter"><a href="tel:+18664144198"><span style="color:#ffffff;">866-414-4198</span></a></p>
</div>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-hero-money-made-simple" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h1>Money Made Simple<sup>™</sup></h1>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-custom pane-1"  >
  
      
  
  <div class="pane-content">
    <div class="home-header-form-placeholder"></div>  </div>

  
  </div>
<div class="panel-pane pane-custom pane-2 home-header-trust-pilot"  >
  
      
  
  <div class="pane-content">
    <!-- TrustBox script -->
<script type="text/javascript" src="../widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async=""></script><!-- End TrustBox script --><!-- TrustBox widget - Micro Star --><div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5c7d8b5a9ff6dc000192c61f" data-style-height="24px" data-style-width="100%" data-theme="dark">
<a href="https://www.trustpilot.com/review/www.creditdirect.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
  </div>

  
  </div>
  </div>
</div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-1"  class="row section-1 row-nospace panels-bootstrap-row-406-1">
<div  id="panel-bootstrap-column-2"  class="column panels-bootstrap-column col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-406-2 column-inside-first column-inside-last inside">
<div  id="panel-bootstrap-region-two_images_layout"  class="panels-bootstrap-region panels-bootstrap-region-406-two_images_layout region-inside-first region-inside-last inside">

<div  class="blue-gradient white-text bg-color bg-custom-css-two_images_layout" style="background-color: #2483f8;">
      <div class="bg-content">
    <div class="panel-pane pane-views-panes pane-slick-panel-pane-5"  >
  
      
  
  <div class="pane-content">
    <div class="view view-slick view-id-slick view-display-id-panel_pane_5 view-dom-id-d054edd477ef5f95e837cba39fb275cb">
        
  
  
      <div class="view-content">
            <div class="slick slick--view--slick slick--view--slick--panel-pane-5 slick--optionset--slick-6" id="slick-views-slick-1">
      <div class="slick__slider" id="slick-views-slick-1-slider" data-slick="{&quot;mobileFirst&quot;:true,&quot;infinite&quot;:false,&quot;useTransform&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1279,&quot;settings&quot;:{&quot;infinite&quot;:false,&quot;slidesPerRow&quot;:6,&quot;slidesToShow&quot;:6,&quot;slidesToScroll&quot;:6,&quot;useTransform&quot;:false}},{&quot;breakpoint&quot;:991,&quot;settings&quot;:{&quot;infinite&quot;:false,&quot;slidesPerRow&quot;:5,&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5,&quot;useTransform&quot;:false}},{&quot;breakpoint&quot;:767,&quot;settings&quot;:{&quot;infinite&quot;:false,&quot;slidesPerRow&quot;:4,&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4,&quot;useTransform&quot;:false}},{&quot;breakpoint&quot;:479,&quot;settings&quot;:{&quot;infinite&quot;:false,&quot;slidesPerRow&quot;:2,&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2,&quot;useTransform&quot;:false}}]}">
  
          <div class="slick__slide slide slide--0">      <div class="slide__content">            <div id="node-51" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-credit-card-refinancing" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Credit Card Refinancing" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/credit-card-refinancing.html"><img alt="Credit Card Refinancing" src="sites/default/files/images/slick/personal-loans/credit-card-icon.svg" style="height: 65px; width: 108px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/credit-card-refinancing.html" style="color:white;">Credit Card Refinancing</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--1">      <div class="slide__content">            <div id="node-52" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-debt-consolidation" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Debt Consolidation" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/debt-consolidation.html"><img alt="Debt Consolidation Loan" src="sites/default/files/images/slick/personal-loans/debt_consolidation_icon.svg" style="height: 65px; width: 76px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/debt-consolidation.html" style="color:white;">Debt Consolidation</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--2">      <div class="slide__content">            <div id="node-53" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-home-improvement" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Home Improvement" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/home-improvement.html"><img alt="Home Improvement Loan" src="sites/default/files/images/slick/personal-loans/home-icon.svg" style="height: 65px; width: 130px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/home-improvement.html" style="color:white;">Home Improvement</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--3">      <div class="slide__content">            <div id="node-54" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-major-purchase" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Major Purchase" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/major-purchase.html"><img alt="Major Purchase Loan" src="sites/default/files/images/slick/personal-loans/major_purchase.svg" style="height: 65px; width: 118px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/major-purchase.html" style="color:white;">Major Purchase</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--4">      <div class="slide__content">            <div id="node-55" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-wedding" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Wedding" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/wedding.html"><img alt="Wedding Loan" src="sites/default/files/images/slick/personal-loans/wedding-cake-icon.svg" style="height: 65px; width: 89px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/wedding.html" style="color:white;">Wedding</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--5">      <div class="slide__content">            <div id="node-56" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-vacation" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Vacation" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/vacation.html"><img alt="Vacation Loan" src="sites/default/files/images/slick/personal-loans/suitcase-icon.svg" style="height: 65px; width: 49px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/vacation.html" style="color:white;">Vacation</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--6">      <div class="slide__content">            <div id="node-91" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-business-expenses" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Business Expenses" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/business-expenses.html"><img alt="Business Expenses Loan" src="sites/default/files/images/slick/personal-loans/building-icon.svg" style="height: 65px; width: 89px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/business-expenses.html" style="color:white;">Business Expenses</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--7">      <div class="slide__content">            <div id="node-96" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-auto-purchase" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Auto Purchase" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/auto-purchase.html"><img alt="Auto Purchase Loan" src="sites/default/files/images/slick/personal-loans/car-icon.svg" style="height: 65px; width: 93px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/auto-purchase.html" style="color:white;">Auto Purchase</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--8">      <div class="slide__content">            <div id="node-101" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-medical-expenses" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Medical Expenses" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/medical-expenses.html"><img alt="Medical Expenses Loan" src="sites/default/files/images/slick/personal-loans/first-aid-kit-icon.svg" style="height: 65px; width: 92px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/medical-expenses.html" style="color:white;">Medical Expenses</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--9">      <div class="slide__content">            <div id="node-106" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-moving-expenses" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Moving Expenses" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/moving-expenses.html"><img alt="" src="sites/default/files/images/slick/personal-loans/truck-icon.svg" style="height: 65px; width: 69px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/moving-expenses.html" style="color:white;">Moving Expenses</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>          <div class="slick__slide slide slide--10">      <div class="slide__content">            <div id="node-111" class="node node-basic-content entity-view-mode--slick clearfix" about="/content/slick-personal-loans-other" typeof="sioc:Item foaf:Document">

  
    <span property="dc:title" content="Slick - Personal Loans - Other" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="personal-loans/other.html"><img alt="Other loan type" src="sites/default/files/images/slick/personal-loans/gift-icon.svg" style="height: 65px; width: 68px;" /></a></p>
<p class="rtecenter"><a href="personal-loans/other.html" style="color:white;">Other</a></p>
</div></div></div>  </div>

  
  
</div>
            
      
    </div>  </div>    
      </div>
    <nav class="slick__arrow">
      <i class="fa fa-angle-left slick-prev" type="button" data-role="none" aria-label="previous"></i>            <i class="fa fa-angle-right slick-next" type="button" data-role="none" aria-label="next"></i>    </nav>
  </div>
      </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
  </div>
</div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-3"  class="row row-nospace panels-bootstrap-row-406-3">
<div  id="panel-bootstrap-column-16"  class="column panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-406-16 column-inside-first inside">
<div  id="panel-bootstrap-region-how_it_works"  class="panels-bootstrap-region panels-bootstrap-region-406-how_it_works region-inside-first region-inside-last inside">

<div  class="bg-color bg-custom-css-how_it_works" style="background-color: #ecf7f9;">
      <div class="bg-content">
    <div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-2-how-it-works" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2 class="rtecenter">How It Works</h2>
<p> </p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
</div>
  </div>
  </div>
<div  id="panel-bootstrap-column-4"  class="column panels-bootstrap-column col-sm-6 col-md-3 col-lg-3 panels-bootstrap-column-406-4 inside">
<div  id="panel-bootstrap-region-how_much_"  class="panels-bootstrap-region panels-bootstrap-region-406-how_much_ region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-2-select-your-loan-amount" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><img alt="" src="sites/default/files/images/home/laptop-slider-icon.svg" style="width: 203px; height: 130px;" /></p>
<h3 class="rtecenter">Select Your Loan Amount</h3>
<p class="rtecenter">Use the slider tool to select a loan<br />
amount up to $40,000.</p>
<p class="rtecenter"> </p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-column-5"  class="column panels-bootstrap-column col-sm-6 col-md-3 col-lg-3 panels-bootstrap-column-406-5 inside">
<div  id="panel-bootstrap-region-review_your_proposal"  class="panels-bootstrap-region panels-bootstrap-region-406-review_your_proposal region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-2-your-loan-options" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><img alt="" src="sites/default/files/images/home/review-icon.svg" style="width: 144px; height: 130px;" /></p>
<h3 class="rtecenter">Your Loan Options</h3>
<p class="rtecenter">Credit Direct will securely send<br />
you your proposal for review.</p>
<p class="rtecenter"> </p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-column-6"  class="column panels-bootstrap-column col-sm-6 col-md-3 col-lg-3 panels-bootstrap-column-406-6 inside">
<div  id="panel-bootstrap-region-sign___approve"  class="panels-bootstrap-region panels-bootstrap-region-406-sign___approve region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-2-accept-and-sign" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h3 class="rtecenter"><img alt="" src="sites/default/files/images/home/electronic-signature-icon.svg" style="width: 89px; height: 130px;" /></h3>
<h3 class="rtecenter">Accept and Sign</h3>
<p class="rtecenter">After reviewing your proposal,<br />
automatically accept and sign<br />
for your loan!</p>
<p class="rtecenter"> </p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-column-7"  class="column panels-bootstrap-column col-sm-6 col-md-3 col-lg-3 panels-bootstrap-column-406-7 inside">
<div  id="panel-bootstrap-region-money_in_the_bank_"  class="panels-bootstrap-region panels-bootstrap-region-406-money_in_the_bank_ region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-2-money-bank" typeof="sioc:Item foaf:Document">  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h3 class="rtecenter"><img alt="" src="sites/default/files/images/home/safe-icon.svg" style="width: 142px; height: 130px;" /></h3>
<h3 class="rtecenter">Money In The Bank</h3>
<p class="rtecenter">Funds are then deposited directly<br />
into your bank account in as<br />
little as 24 hours!</p>
<p class="rtecenter"> </p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-column-8"  class="column panels-bootstrap-column col-xs-12 col-sm-12 col-md-12 col-lg-12 panels-bootstrap-column-406-8 column-inside-last inside">
<div  id="panel-bootstrap-region-apply_now"  class="panels-bootstrap-region panels-bootstrap-region-406-apply_now region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/apply-now-centered" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a class="btn btn-primary" href="personal-loans/apply.html">Apply Now</a></p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
<div class="panel-pane pane-node text-center"  >
  
      
  
  <div class="pane-content">
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div class="no-credit-impact">Will not affect your credit score</div>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-9"  class="row section-3 panels-bootstrap-row-406-9">
<div  id="panel-bootstrap-column-10"  class="horizontal-separator blue-dark panels-bootstrap-column col-sm-6 col-md-6 col-lg-6 panels-bootstrap-column-406-10">
<div  id="panel-bootstrap-region-a__rating"  class="panels-bootstrap-region panels-bootstrap-region-406-a__rating region-inside-first region-inside-last inside">
<div class="panel-pane pane-node bbb-review"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-3-rating-under-better-business-bureau%C2%AE" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"><a href="https://www.bbb.org/washington-dc-eastern-pa/business-reviews/loan-servicing/credit-direct-in-rockville-md-236008327/#sealclick" rel="nofollow" target="_blank"><img alt="Credit Direct BBB Business Review" src="../seal-dc-easternpa.bbb.org/seals/blue-seal-293-61-whitetxt-bbb-236008327.html" style="border: 0;" /></a></p>
<p class="rtecenter"><a href="https://www.bbb.org/washington-dc-eastern-pa/business-reviews/loan-servicing/credit-direct-in-rockville-md-236008327/#sealclick" target="_blank">We are an Accredited Member of the BBB with an A+ rating</a></p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-column-12"  class="column panels-bootstrap-column col-sm-6 col-md-6 col-lg-6 panels-bootstrap-column-406-12 column-inside-last inside">
<div  id="panel-bootstrap-region-4_8___5_rating_under__consumer_affairs"  class="panels-bootstrap-region panels-bootstrap-region-406-4_8___5_rating_under__consumer_affairs region-inside-first region-inside-last inside">
<div class="panel-pane pane-node consumer-affairs-review"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-3-48-5-rating-under-consumer-affairs" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtecenter"> </p>
<div class="d-flex flex-column align-items-center">
<div class="consumer-affairs rtecenter"> </div>
<p class="pb-1 mb-0 rtecenter"><a class="no-hover-link" href="https://www.consumeraffairs.com/finance/credit-direct-loans.html" target="_blank"><img alt="" src="sites/default/files/images/ca.png" style="width: 311px; height: 36px;" /><br />
Overall Satisfaction Rating</a></p>
<div class="d-flex rtecenter"><a href="http://www.consumeraffairs.com/finance/credit-direct-loans.html" target="_blank"><img alt="" src="sites/default/files/images/stars.jpg" style="width: 176px; height: 48px;" /></a></div>
</div>
<p class="rtecenter"> </p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-13"  class="row section-4 fullscreen no-gutter row-nospace panels-bootstrap-row-406-13">
<div  id="panel-bootstrap-column-14"  class="column panels-bootstrap-column col-sm-6 col-md-6 col-lg-6 panels-bootstrap-column-406-14 column-inside-first inside">
<div  id="panel-bootstrap-region-we_keep_you_informed_every_step_of_the_way"  class="panels-bootstrap-region panels-bootstrap-region-406-we_keep_you_informed_every_step_of_the_way region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-4-find-out-how-we-work-you" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p style="margin-bottom:0"><img alt="Personal loans for credit card refinancing" src="sites/default/files/computer-dog-girl.jpg" /></p>
<p>Find out how we work for you. <a class="btn btn-primary" href="how-it-works.html">Learn More</a></p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-column-15"  class="column panels-bootstrap-column col-sm-6 col-md-6 col-lg-6 panels-bootstrap-column-406-15 column-inside-last inside">
<div  id="panel-bootstrap-region-call_us_today_and_experience_relief_"  class="panels-bootstrap-region panels-bootstrap-region-406-call_us_today_and_experience_relief_ region-inside-first region-inside-last inside">
<div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-4-call-us-today-and-experience-relief" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p style="margin-bottom:0"><img alt="Freedom with personal loans from Credit Direct" src="sites/default/files/couple-on-beach.jpg" /></p>
<p>Feel the freedom of having money when you need it!  <a class="btn btn-outline" href="tel:+18664144198">866-414-4198</a></p>
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-17"  class="row section-5 row-nospace panels-bootstrap-row-406-17">
<div  id="panel-bootstrap-column-18"  class="vertical-center white-text-xs panels-bootstrap-column col-lg-4 col-md-4 col-sm-4 panels-bootstrap-column-406-18">
<div  id="panel-bootstrap-region-bbb_verified_review_1"  class="panels-bootstrap-region panels-bootstrap-region-406-bbb_verified_review_1 region-inside-first region-inside-last inside">

<div  class="bg-image bg-custom-css-bbb_verified_review_1">
              <picture>
        <source srcset="https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-lg.jpg, https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-lg%402x.jpg 2x" media="(min-width: 1281px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-md.jpg, https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-md%402x.jpg 2x" media="(min-width: 992px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-sm.jpg, https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-sm%402x.jpg 2x" media="(min-width: 768px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-xs.jpg, https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-xs%402x.jpg 2x" media="(min-width: 476px)">
        <source srcset="https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-mobile.jpg, https://www.creditdirect.com/sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-mobile%402x.jpg 2x">
        <img src="sites/default/files/young-smiling-woman-using-mobile-phone-against-blue-background-lg.jpg" alt="Personal loans online"/>
        <div class="overlay-mobile" style="background-color: #b2b2b2"></div>      </picture>
        <div class="bg-content">
      </div>
</div>
  </div>
  </div>
  </div>
<div  id="testimonial-videos"  class="row row-nospace panels-bootstrap-row-406-19">
<div  id="panel-bootstrap-column-20"  class="column panels-bootstrap-column col-lg-12 col-md-12 col-sm-12 col-xs-12 panels-bootstrap-column-406-20 column-inside-first column-inside-last inside">
<div  id="panel-bootstrap-region-get_the_loan_you_deserve_"  class="panels-bootstrap-region panels-bootstrap-region-406-get_the_loan_you_deserve_ region-inside-first region-inside-last inside">

<div  class="bg-color bg-custom-css-get_the_loan_you_deserve_" style="background-color: #dcecf0;">
      <div class="bg-content">
    <div class="panel-pane pane-node"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/trustpilot-trustbox-carousel-0" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><!-- TrustBox widget - Carousel -->
<div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5c7d8b5a9ff6dc000192c61f" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="4,5">
  <a href="https://www.trustpilot.com/review/www.creditdirect.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget --></div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
</div>
  </div>
  </div>
  </div>
<div  id="panel-bootstrap-row-23"  class="row panels-bootstrap-row panels-bootstrap-row-406-23 row-inside-last clearfix inside">
<div  id="panel-bootstrap-column-24"  class="column panels-bootstrap-column col-sm-10  col-sm-offset-1 col-md-8  col-md-offset-2 col-lg-8  col-lg-offset-2 panels-bootstrap-column-406-24 column-inside-first column-inside-last inside">
<div  id="panel-bootstrap-region-get_the_loan_you_deserve"  class="panels-bootstrap-region panels-bootstrap-region-406-get_the_loan_you_deserve region-inside-first region-inside-last inside">
<div class="panel-pane pane-node iframe-wrapper"  >
  
      
  
  <div class="pane-content">
    <article class="node node-basic-content entity-view-mode--full clearfix" about="/content/home-section-6-get-loan-you-deserve" typeof="sioc:Item foaf:Document">

  
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2 class="rtecenter">Get The Loan You Deserve!</h2>
<p class="rtecenter">It shouldn’t be hard to finance your wedding, vacation, home renovation, or consolidate your debt. Whether you're looking to refinance your credit cards or pay off expected and unexpected expenses, start your journey with Credit Direct and find out how simple money can be with a quick personal loan.</p>
<p class="rtecenter"><a class="btn btn-primary" href="personal-loans/apply.html">Apply Now</a></p>
</div></div></div>  </div>

  
  
</article>
</div>
</div>
<div class="panel-pane pane-node text-center"  >
  
      
  
  <div class="pane-content">
      <span property="dc:title" content="" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
</div></div></div>  </div>

  
  
</article>
  </div>

  
  </div>
  </div>
  </div>
  </div>
</div>
  </div>
    </div>
  </div> <!-- /#main -->
</div> <!-- /#main-wrapper -->

<%- include("../partials/footer") -%>
